[include fluidd.cfg]
[include scripts/shell_commands.cfg]
[include mainsail.cfg]

#########################
###       PERSO       ###
#########################
#[include PIS.cfg]
[include macros/base/macro_perso.cfg]


#########################
### MAIN CONFIG FILES ###
#########################
[include config/variables.cfg] # Keep this included!
[include config/machine.cfg] # Keep this included!

### MCUs configuration ---------------------------------------------
[include config/mcus/octopus.cfg]
# [include config/mcus/rpi.cfg]
# [include config/mcus/canboard_SHT36-42.cfg]
# [include config/mcus/canboard_SHT36v2.cfg]
# [include config/mcus/canboard_EBB36_42_v1.1.cfg]
# ------------------------------------------------------------------

# [include mcus.cfg] # Put here your mcu's specifications

###########################
### HARDWARE COMPONENTS ###
###########################

### Default XY axis configuration ----------------------------------
[include config/hardware/axis/XY/default_wiring.cfg] # Keep this included! Use your override.cfg file for specifics config
[include config/hardware/axis/XY/default_speed.cfg] # Keep this included! Use your override.cfg file for specifics config
# ------------------------------------------------------------------

### XY axis motors configuration -----------------------------------
[include config/hardware/axis/XY/1.8d_xy.cfg]
# ------------------------------------------------------------------

### Default Z axis configuration -----------------------------------
[include config/hardware/axis/Z/default_wiring.cfg] # Keep this included! Use your override.cfg file for specifics config
[include config/hardware/axis/Z/default_speed.cfg] # Keep this included! Use your override.cfg file for specifics config
# ------------------------------------------------------------------

### Z axis motors configuration -----------------------------------
[include config/hardware/axis/Z/V2.4_1.8d_base_z.cfg]
# ------------------------------------------------------------------

### Default dimensions configuration ------------------------------------------
[include config/hardware/axis/default_350mm.cfg] # use your override.cfg file for specifics config

### Extruder configuration -----------------------------------------
[include config/hardware/extruder/default_wiring.cfg] # Keep this included! Use your override.cfg file for specifics config
[include config/hardware/extruder/lgx_heavy.cfg]
# ------------------------------------------------------------------

### Heated bed configuration ---------------------------------------
[include config/hardware/heated_bed.cfg]
# ------------------------------------------------------------------

### Probe configuration --------------------------------------------
# [include config/hardware/probes/inductive_probe.cfg]
# [include config/hardware/probes/dockable_probe.cfg]
[include config/hardware/probes/tap_probe.cfg]
# ------------------------------------------------------------------

### Fans configuration ---------------------------------------------
[include config/hardware/fans/hotend_fan.cfg]
[include config/hardware/fans/part_fan.cfg]
# [include config/hardware/fans/controller_fan.cfg]
# [include config/hardware/fans/rpi_fan.cfg]
# ------------------------------------------------------------------

### Servos configuration --------------------------------------------
# [include config/hardware/servos/probe_servo.cfg]
# [include config/hardware/servos/purgeclean_servo.cfg]
# [include config/hardware/servos/shared_probepurge_servo.cfg] # If one servo is used for both probe dock and purge bucket
# ------------------------------------------------------------------

### Display configuration ------------------------------------------
# [include config/hardware/displays/mini12864.cfg]
# ------------------------------------------------------------------

### Other temperature sensors configuration ------------------------
[include config/hardware/temperature_sensors/rpi_temp.cfg]
# [include config/hardware/temperature_sensors/cabinet_temp.cfg]
[include config/hardware/temperature_sensors/chamber_temp.cfg]
[include config/hardware/temperature_sensors/mcu_temp.cfg]
# ------------------------------------------------------------------

### Lights and leds configuration ----------------------------------
# [include config/hardware/lights/fcob_white.cfg]
# [include config/hardware/lights/neopixel_mini12864.cfg] 
[include config/hardware/lights/neopixel_caselight.cfg]
[include config/hardware/lights/status_leds.cfg]
# ------------------------------------------------------------------

### Filaments sensors configuration --------------------------------
# [include config/hardware/filament_sensors/motion_sensor.cfg]
# [include config/hardware/filament_sensors/runout_sensor.cfg] #TODO: create file
# ------------------------------------------------------------------

### Accelerometers sensors configuration ---------------------------
# [include config/hardware/accelerometers/adxl345_ebb.cfg]
# [include config/hardware/accelerometers/adxl345_rpi.cfg]
# [include config/hardware/accelerometers/adxl345_sht.cfg]
# [include config/hardware/accelerometers/adxl345_skr.cfg]
# [include config/hardware/accelerometers/adxl345_usb.cfg]
# ------------------------------------------------------------------

### Additional filters configuration -------------------------------
# [include config/hardware/filters/exhaust_filter.cfg]
# [include config/hardware/filters/nevermore_filter.cfg]
# ------------------------------------------------------------------

### Additional filters configuration -------------------------------
# [include config/hardware/ercf.cfg]
# ------------------------------------------------------------------


###################################
### KLIPPER SOFTWARE COMPONENTS ###
###################################

### Bed mesh ------------------------------------------------------
[include config/software/bed_mesh.cfg]
# -----------------------------------------------------------------

### Firmware retraction -------------------------------------------
[include config/software/firmware_rectraction.cfg]
# -----------------------------------------------------------------

### Input shaper --------------------------------------------------
[include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# -----------------------------------------------------------------

### Auto Z calibration plugin -------------------------------------
# [include config/software/z_calibration.cfg] # You need to install the plugin!
# -----------------------------------------------------------------

### QGL vs Z_TILT configuration -----------------------------------
[include config/software/tilting/qgl.cfg]
# [include config/software/tilting/z_tilt.cfg]
# -----------------------------------------------------------------

# [include overrides.cfg] # Put your customizations here

# If you use tap.cfg upper, uncomment following probe lines.
# This is a klipper limitation: must be here to be able to save a z calibration with TAP
#[probe]
#z_offset: 0

[extruder]
#control: pid
#pid_kp: 26.015
#pid_ki: 1.770
#pid_kd: 95.603

[heater_bed]
#control: pid
#pid_kp: 38.771
#pid_ki: 1.746
#pid_kd: 215.177

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.008750, -0.016250, -0.022500, -0.032500, -0.048750, -0.031250, -0.038750, -0.017500, 0.002500
#*# 	0.013750, 0.017500, -0.030000, -0.018750, -0.027500, -0.001250, -0.016250, 0.003750, 0.035000
#*# 	-0.016250, -0.028750, -0.018750, -0.032500, -0.041250, -0.032500, -0.043750, -0.016250, 0.013750
#*# 	0.031250, -0.002500, 0.020000, 0.020000, -0.008750, -0.003750, -0.016250, 0.018750, 0.033750
#*# 	0.037500, 0.028750, 0.023750, 0.032500, 0.000000, -0.010000, 0.003750, -0.002500, 0.042500
#*# 	0.038750, 0.025000, 0.020000, 0.048750, -0.005000, -0.015000, -0.021250, -0.007500, 0.015000
#*# 	0.016250, -0.007500, -0.005000, 0.010000, -0.035000, -0.042500, -0.060000, -0.055000, -0.022500
#*# 	-0.006250, -0.003750, -0.007500, -0.006250, -0.017500, -0.025000, -0.045000, -0.023750, -0.012500
#*# 	0.016250, 0.005000, -0.005000, 0.018750, -0.013750, -0.015000, -0.021250, -0.047500, 0.005000
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 315.0
#*# min_y = 55.0
#*# max_y = 335.0
#*#
#*# [probe]
#*# z_offset = -0.500
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.350
#*# pid_ki = 1.637
#*# pid_kd = 632.240
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.577
#*# pid_ki = 0.742
#*# pid_kd = 104.144
